body{
    margin: 0;
}
header{
    display: flex;
    height: 100px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}
.ico{
    animation: icon 3s ease-in-out infinite;
}
@keyframes icon{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    background-color: black;
}
.titulo-cabecera{
    margin-top: 0px;
    color: white;
}
header > p{
    color: white;
}
.anchor-nav{
    animation: anchor-nav 1s ease-in-out infinite;
    padding: 6px;
    text-decoration: none;
    color: white;
    margin: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes anchor-nav{
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(30px)
    }
    100%{
        transform: translateY(0px)
    }
}
@media (max-width: 700px){
    header{
        flex-direction: column;
        height: 150px;
    }
}
