body{
    margin: 0;
}
header{
    display: flex;
    height: 100px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}
.ico{
    animation: icon 1s ease-in-out infinite;
}
@keyframes icon{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
header > p{
    color: white;
}
header > nav > a{
    padding: 6px;
    text-decoration: none;
    color: white;
    margin: 0 30px;
}
header > nav > a:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.49);
    transition: 1s;
}